<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Registration</title>
</head>
<body>
    <form method="post" th:action="@{/customerRegister}" ModeLAtribute="customerRegister" th:object="${customerRegister}">
        <input type="text" name="custid" placeholder="ID" required>
        <input type="text" name="custname" placeholder="Name" required>
        <input type="password" name="custpassword" placeholder="Password" required>
        <input type="email" name="custemail" placeholder="Email" required>
        <input type="text" name="custaddress" placeholder="Address" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>
