

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Customer</title>
</head>
<body>
    <h1>Add Customer</h1>
    <form th:action="@{/customerRegister}" modelAttribute="customerRegister" th:objects = "${customerRegister}" method="post">
        <div>
            <label for="custName">Customer Name:</label>
            <input type="text" id="custName" name="custname" placeholder="Customer Name" required>
        </div>
        <div>
            <label for="custEmail">Customer Email:</label>
            <input type="email" id="custEmail" name="custemail" placeholder="Customer Email" required>
        </div>
        <div>
            <label for="custPhoneNum">Customer Phone Number:</label>
            <input type="text" id="custPhoneNum" name="custphonenum" placeholder="Customer Phone Number" required>
        </div>
        <div>
            <label for="custAddress">Customer Address:</label>
            <input type="text" id="custAddress" name="custaddress" placeholder="Customer Address" required>
        </div>
        <div>
            <label for="custPassword">Customer Password:</label>
            <input type="password" id="custPassword" name="custpassword" placeholder="Customer Password" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>



