<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="styleBooking.css">
</head>
<body style="background-color: yellow;">
    <header>
        <h2 class="logo">Iman's Rabbit Farm</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="ViewAccount.html">Account</a>
            <a href="bookingView.html">Booking</a>
            <a href="#">Ticket</a>
            <a href="AboutUS.html">About Us</a>
            <a href="">Payment</a>
            <button class="btnlogin-popup">Login</button>
        </nav>
    </header>
    <main>
        <h1>Ticket List</h1>
        <table>
            <thead>
                <tr>
                    <th>Ticket ID</th>
                    <th>Ticket Type</th>
                    <th>Ticket Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.ticketId}"></td>
                    <td th:text="${ticket.ticketType}"></td>
                    <td th:text="${ticket.ticketPrice}"></td>
                    <td>
                        <button class="update-button">Edit</button>
                        <button class="delete-button">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
